<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">Log In</a></li>
    <li><a href="#">Sign Up</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li><Authentication::MuLogin></Authentication::MuLogin/></li>
    <li><Authentication::MuRegistration/></li>
</ul>