<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><LinkTo @route="posts">Posts</LinkTo></li>
            <li><LinkTo @route="users">Users</LinkTo></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
         <ul class="uk-navbar-nav">
        <li><a href="#modal-example" uk-toggle>Create New Post</a></li>
        <Modal @modal-id="modal-example" @modal-title="Create new post">
            <Posts::New/>
        </Modal>
        
        
        <li>
            {{#if @isAuthenticated}}
            <div class="uk-navbar-item">
                <Authentication::MuLogout/>
            </div>
               
            {{else}}
                <a href="#modal-register" uk-toggle>Log In</a>
                <Modal @modal-id="modal-register" @modal-title="Register">
                    <Authentication::MuRegistration/>
                </Modal>
                
            {{/if}}
        
        </li>
         </ul>
         
    </div>
</nav>