<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><LinkTo @route="posts">Posts</LinkTo></li>
            <li><LinkTo @route="users">Users</LinkTo></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
         <ul class="uk-navbar-nav">
        <li><a href="#modal-example" uk-toggle>Create New Post</a></li>
        <Posts::New/>
        
        <li>
            {{#if @isAuthenticated}}
            <div class="uk-navbar-item">
                <MuLogout/>
            </div>
               
            {{else}}
                <a href="#modal-login" uk-toggle>Log In</a>
                <Login/>
            {{/if}}
        
        </li>
         </ul>
         
    </div>
</nav>