<div class="uk-card uk-card-default uk-text-center" ...attributes>
    <div class="uk-card-body">
        <span uk-icon="icon: user; ratio: 3"></span>
        <h3 class="uk-card-title">{{@account.owner.name}}</h3>
        <h5>{{@account.formattedNickname}}</h5>
        <div class="uk-card-footer">
                                <button class="uk-button uk-button-text" {{on "click" (fn this.follow @account.owner)}}>Follow</button>

                    </div>
    </div>

</div>