
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a href="#">Posts</a></li>
            <li><a href="#">Users</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">
         <ul class="uk-navbar-nav">
        <li><a href="#">Create New Post</a></li>
<li><a href="#">Login/Signup</a></li>
         </ul>
         
    </div>
</nav>
<div class="uk-container">
    {{outlet}}
</div>
