<Navbar />

<div class='uk-container'>
  <div class='uk-margin-large-top'>
    {{outlet}}
  </div>
</div>
{{#each this.flashMessages.queue as |flash|}}
  <FlashMessage @flash={{flash}} as |component flash|>
    <Notification @content={{flash.content}} />
  </FlashMessage>
{{/each}}