<Navbar @isAuthenticated={{this.session.isAuthenticated}} @nickname={{this.account.userAccount.formattedNickname}}/>
<div class="uk-container">
    <div class="uk-margin-large-top">
        {{outlet}}
    </div>
</div>
