{{page-title "MyProfile"}}
{{#if this.session.isAuthenticated}}
<div uk-grid>
<div class="uk-width-1-5@l">
<ProfileCard @account={{this.account.userAccount}} class="uk-sticky" uk-sticky="offset: 50" style/>
</div>
<div class="uk-width-4-5@l">
    <div uk-grid="masonry: true" class="uk-grid uk-grid-medium uk-child-width-1-1@l">
        {{#each this.account.userAccount.posts as |post|}}
        
        <div>
            <Post @post={{post}}/>

        </div>

        {{/each}}


    </div>
</div>
</div>

{{/if}}
