{{page-title "Post"}}

<div class="uk-grid uk-grid-medium uk-child-width-expand@s uk-text-center uk-margin-large-top">
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">Item</div>
    </div>
</div>
    
{{!-- <hr>
<form {{on "submit" this.createPerson}}>
    <label>Name</label>
    <Input @value={{this.newName}}/>
    <label>Age</label>
    <Input @value={{this.newAge}}/>

    <button type="submit">Create</button>
</form> --}}