{{page-title "Users"}}
<h1>Users</h1>

<div uk-grid="masonry: true" class="uk-grid uk-grid-medium uk-child-width-1-4@l uk-text-center uk-margin-large-top">
    {{#each @model as |user|}}
        <div>
            <ProfileCard @account={{user.account}}/>
        </div>
    {{/each}}
</div>